## Sepolia/Monad
ETH_RESOLVER_PRIVATE_KEY=
ETH_RESOLVER_ADDRESS=

ETH_USER_PRIVATE_KEY=
ETH_USER_ADDRESS=

## Starknet
STARKNET_RESOLVER_PRIVATE_KEY=
STARKNET_RESOLVER_ADDRESS=

STARKNET_USER_PRIVATE_KEY=
STARKNET_USER_ADDRESS=